<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="StsBaseAddress" value="https://adgangsstyring.test-stoettesystemerne.dk/"/>
		<add key="AValidClientCertificateThumbprint" value="21AD7D2D4280765BFE113B7DD5D62736C34E37BD"/>
		<add key="StsOAuthEndpoint" value="runtime/api/rest/oauth/v1/issue"/>
		<add key="StsOAuthClientId" value="https://kombit0001.service.com/serviceid.svc"/>
		<add key="StsOAuthScope" value="entityid:https://kombit0001.service.com/serviceid.svc,anvenderkontekst:12345678"/>
		<add key="StsOAuthScopeWithObO" value="entityid:https://kombit0001.service.com/serviceid.svc,anvenderkontekst:12345678,onbehalfof:E85AC4E2A5ED9CE4CCFEF42F3F9DE1E4A521CDDD"/>
		<add key="TestRestAPIEndpoint" value="https://localhost:44338/api/demo/ping"/>

		<add key="serilog:minimum-level" value="Debug"/>
		
	</appSettings>
</configuration>