<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoFixture" version="3.24.3" targetFramework="net45" />
  <package id="AutoFixture.AutoMoq" version="3.24.3" targetFramework="net45" />
  <package id="Kombit.Samples.Common" version="1.0.0.7" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net451" />
  <package id="Moq" version="4.2.1502.0911" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net451" />
  <package id="Serilog" version="1.4.168" targetFramework="net451" />
  <package id="Serilog.Extras.AppSettings" version="1.4.168" targetFramework="net451" />
  <package id="xunit" version="2.0.0" targetFramework="net45" />
  <package id="xunit.abstractions" version="2.0.0" targetFramework="net45" />
  <package id="xunit.assert" version="2.0.0" targetFramework="net45" />
  <package id="xunit.core" version="2.0.0" targetFramework="net45" />
  <package id="xunit.extensibility.core" version="2.0.0" targetFramework="net45" />
  <package id="xunit.runner.visualstudio" version="2.0.0" targetFramework="net45" />
</packages>